
/* 09/11/2022 : Semi , needs refinements */

 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

header {
  text-align: center;
  font-size: 45px;
  background-color: rgb(65, 118, 144);
}

hr {
  margin: 0;
}

li {
  font-size: 1rem;
  list-style: none;
  /*padding-top: 10px;*/
}

.topNavbar {
  background: #59424c;
  box-shadow: 4px 2px 5px gray;
  color: #ffd6a7;
  padding: 0.5rem 2rem;
}

.topNavbar button {
  /* background: transparent; */
  border: 2px solid white;
  color: #ffd6a7;
  padding: 0.4rem 0.5rem;
}

.topNavbar button:hover {
  background: #6aa9bc;
  /* color: steelblue; */
  cursor: pointer;
}

.brand {
  color: #ffd6a7;
  cursor: pointer;
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto auto auto;
  width: 100%;
}

.navBar {
  background-color: rgb(121, 174, 200);
}

.NavButton {
  padding: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.NavButton:hover {
  color: rgb(179, 249, 255);
}

/* ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
 */